<p id="notice"><%= notice %></p>

<h1>Posts</h1>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.user_id if user_signed_in? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

